*.pyc
*.love
*.userprefs
*doc/
/html5/javascript/dist
/html5/javascript/index.html
/html5/typescript/dist
/html5/typescript/index.html
/html5/typescript/blackjack.ts.js
/html5/javascript/node_modules
/html5/typescript/node_modules
/html5/coffeescript/node_modules
/html5/coffeescript/dist
/html5/coffeescript/index.html
/xna/BlackjackXNA/BlackjackXNA/*.user
/unity/BlackjackUnity/Library
/unity/BlackjackUnity/ProjectSettings
/unity/BlackjackUnity/blackjack_Data
/unity/BlackjackUnity/Temp
/unity/BlackjackUnity/obj
*.7z
